@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.header-logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 22px;
}

.header-logo {
    color: #000000;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.header-subtitle {
    color: #A2001D;
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-button {
    padding: 7.5px 15px;
    background-color: #A2001D;
    color: #F5F5F5;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #000000;
}
